<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>eBloggerZ</h1>
<p>
  This is the home page for the
  <a href="#">eBloggerZ</a>
  Blog_app.
</p>
<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("bug.png", alt: "eBloggerZ"), 'http://ebloggerz.com/' %>