<footer class="footer">
  <small>
    <a href="#">eBloggerZ</a>
    by JaagaBuggers
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Flick</a></li>
    </ul>
  </nav>
</footer>